<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.j1902.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.qf.j1902.pojo.User" >
    <id column="userID" property="userid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="upassword" property="upassword" jdbcType="VARCHAR" />
    <result column="userImage" property="userimage" jdbcType="VARCHAR" />
    <result column="realName" property="realname" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="weichart" property="weichart" jdbcType="VARCHAR" />
    <result column="tenqq" property="tenqq" jdbcType="VARCHAR" />
    <result column="useremail" property="useremail" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="userinfo" property="userinfo" jdbcType="VARCHAR" />
    <result column="regtime" property="regtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    userID, username, upassword, userImage, realName, gender, telphone, weichart, tenqq, 
    useremail, address, userinfo, regtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qf.j1902.pojo.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where userID = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where userID = #{userid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.j1902.pojo.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.j1902.pojo.User" >
    insert into user (userID, username, upassword, 
      userImage, realName, gender, 
      telphone, weichart, tenqq, 
      useremail, address, userinfo, 
      regtime)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{upassword,jdbcType=VARCHAR}, 
      #{userimage,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{telphone,jdbcType=VARCHAR}, #{weichart,jdbcType=VARCHAR}, #{tenqq,jdbcType=VARCHAR}, 
      #{useremail,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{userinfo,jdbcType=VARCHAR}, 
      #{regtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.j1902.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userID,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="upassword != null" >
        upassword,
      </if>
      <if test="userimage != null" >
        userImage,
      </if>
      <if test="realname != null" >
        realName,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="weichart != null" >
        weichart,
      </if>
      <if test="tenqq != null" >
        tenqq,
      </if>
      <if test="useremail != null" >
        useremail,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="userinfo != null" >
        userinfo,
      </if>
      <if test="regtime != null" >
        regtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="upassword != null" >
        #{upassword,jdbcType=VARCHAR},
      </if>
      <if test="userimage != null" >
        #{userimage,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="weichart != null" >
        #{weichart,jdbcType=VARCHAR},
      </if>
      <if test="tenqq != null" >
        #{tenqq,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null" >
        #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="userinfo != null" >
        #{userinfo,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null" >
        #{regtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.j1902.pojo.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.userid != null" >
        userID = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.upassword != null" >
        upassword = #{record.upassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userimage != null" >
        userImage = #{record.userimage,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null" >
        realName = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=VARCHAR},
      </if>
      <if test="record.telphone != null" >
        telphone = #{record.telphone,jdbcType=VARCHAR},
      </if>
      <if test="record.weichart != null" >
        weichart = #{record.weichart,jdbcType=VARCHAR},
      </if>
      <if test="record.tenqq != null" >
        tenqq = #{record.tenqq,jdbcType=VARCHAR},
      </if>
      <if test="record.useremail != null" >
        useremail = #{record.useremail,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.userinfo != null" >
        userinfo = #{record.userinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.regtime != null" >
        regtime = #{record.regtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set userID = #{record.userid,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      upassword = #{record.upassword,jdbcType=VARCHAR},
      userImage = #{record.userimage,jdbcType=VARCHAR},
      realName = #{record.realname,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=VARCHAR},
      telphone = #{record.telphone,jdbcType=VARCHAR},
      weichart = #{record.weichart,jdbcType=VARCHAR},
      tenqq = #{record.tenqq,jdbcType=VARCHAR},
      useremail = #{record.useremail,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      userinfo = #{record.userinfo,jdbcType=VARCHAR},
      regtime = #{record.regtime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.j1902.pojo.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="upassword != null" >
        upassword = #{upassword,jdbcType=VARCHAR},
      </if>
      <if test="userimage != null" >
        userImage = #{userimage,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realName = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="weichart != null" >
        weichart = #{weichart,jdbcType=VARCHAR},
      </if>
      <if test="tenqq != null" >
        tenqq = #{tenqq,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null" >
        useremail = #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="userinfo != null" >
        userinfo = #{userinfo,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null" >
        regtime = #{regtime,jdbcType=VARCHAR},
      </if>
    </set>
    where userID = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.j1902.pojo.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      upassword = #{upassword,jdbcType=VARCHAR},
      userImage = #{userimage,jdbcType=VARCHAR},
      realName = #{realname,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      weichart = #{weichart,jdbcType=VARCHAR},
      tenqq = #{tenqq,jdbcType=VARCHAR},
      useremail = #{useremail,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      userinfo = #{userinfo,jdbcType=VARCHAR},
      regtime = #{regtime,jdbcType=VARCHAR}
    where userID = #{userid,jdbcType=INTEGER}
  </update>
</mapper>